{% extends "layout.html" %} {% block title %}Tambah Dosen{% endblock %} {% block
content %}
<form action="/dosen/tambah" method="post">
  <div class="mb-13 mt-3">
    <label for="nama" class="form-label">Nama:</label>
    <input
      type="input"
      class="form-control"
      placeholder="Nama"
      name="nama"
      required
      autofocus
    />
  </div>
  <div class="mb-3">
    <label for="univ" class="form-label">Universitas:</label>
    <input
      type="input"
      class="form-control"
      placeholder="Universitas"
      name="univ"
      required
    />
  </div>
  <div class="mb-3">
    <label for="jurusan" class="form-label">Jurusan:</label>
    <input
      type="input"
      class="form-control"
      placeholder="Jurusan"
      name="jurusan"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
