{% extends "layout.html" %} {% block title %}Edit Dosen{% endblock %} {% block
content %}
<form action="/dosen/edit/{{ dosen[0] }}" method="post">
  <div class="mb-13 mt-3">
    <label for="nama" class="form-label">Nama:</label>
    <input
      type="input"
      class="form-control"
      placeholder="Nama"
      name="nama"
      value="{{ dosen[1] }}"
      required
    />
  </div>
  <div class="mb-3">
    <label for="univ" class="form-label">Universitas:</label>
    <input
      type="input"
      class="form-control"
      placeholder="Universitas"
      name="univ"
      value="{{ dosen[2] }}"
      required
    />
  </div>
  <div class="mb-3">
    <label for="jurusan" class="form-label">Jurusan:</label>
    <input
      type="input"
      class="form-control"
      placeholder="Jurusan"
      name="jurusan"
      value="{{ dosen[3] }}"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
