<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dosen Page</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12"></div>
                <h2>Welcome Dosen</h2>
                                
                <button type="button" class="btn btn-primary float-right">Tambah Dosen</button>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">NIP</th>
                        <th scope="col">Nama Dosen</th>
                        <th scope="col">Jurusan</th>
                        <th scope="col">Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Faqih</td>
                        <td>Telkom University</td>
                        <td>Information System</td>
                        <td><button type="button" class="btn btn-warning btn-sm">Edit</button> <button type="button" class="btn btn-danger btn-sm">Delete</button></td> 
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Aulia</td>
                        <td>Telkom University</td>
                        <td>Informatics</td>
                        <td><button type="button" class="btn btn-warning btn-sm">Edit</button> <button type="button" class="btn btn-danger btn-sm">Delete</button></td> 
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Ali Fauzi</td>
                        <td>Brawijaya University</td>
                        <td>Informatics</td>
                        <td><button type="button" class="btn btn-warning btn-sm">Edit</button> <button type="button" class="btn btn-danger btn-sm">Delete</button></td> 
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html> -->

{% extends "layout.html" %} {% block title %}Dosen Page{% endblock %} {% block
content %} {% if session.logged_in %}
<h3 class="one">Welcome Dosen</h3>
<a href="/dosen/tambah" class="btn btn-primary" role="button">Tambah dosen</a>
<a href="{{ url_for('logout') }}" class="btn btn-info" role="button">Logout</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID Dosen</th>
      <th scope="col">Nama Dosen</th>
      <th scope="col">Universitas</th>
      <th scope="col">Jurusan</th>
      <th scope="col">Aksi</th>
    </tr>
  </thead>
  <tbody>
    {% for d in dosen %}
    <tr>
      <td>{{ d[0] }}</td>
      <td>{{ d[1] }}</td>
      <td>{{ d[2] }}</td>
      <td>{{ d[3] }}</td>
      <td>
        <a href="/dosen/edit/{{ d[0] }}" class="btn btn-warning" role="button"
          >Edit</a
        >
        <a href="/dosen/delete/{{ d[0] }}" class="btn btn-danger" role="button" onclick="return confirm('Are you sure you want to delete?');">Delete</a></td> 
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% endblock %}
