<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static',
    filename='bootstrap.min.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form action="{{ url_for('login') }}" method="post">
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">Email:</label>
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                name="email"
              />
            </div>
            <div class="mb-3">
              <label for="pwd" class="form-label">Password:</label>
              <input
                type="password"
                class="form-control"
                placeholder="Input password"
                name="password"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html> -->

{% extends "layout.html" %} {% block title %}Login Page{% endblock %} {% block
content %}
<form action="{{ url_for('login') }}" method="post">
  <div class="mb-13 mt-3">
    <label for="email" class="form-label">Email:</label>
    <input
      type="email"
      class="form-control"
      placeholder="Email"
      name="username"
      required
      autofocus
    />
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Password:</label>
    <input
      type="password"
      class="form-control"
      placeholder="Input password"
      name="password"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
